:root {
  --brand-primary: #209cee;
  --brand-gray: #acb1c6;
  --text-color: #000;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: #fff;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding: 15px 0;
  background: var(--brand-primary);
  color: white;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-block {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  padding-right: 30px;
}

.logo img {
  display: block;
  width: 100px;
}

.wrapper {
  padding: 30px 0;
}

.search-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.search-line input {
  width: 100%;
  margin-right: -1px;
}

.spinner-global {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height .2s ease, opacity .2s ease;
}

.d-none {
  height: 0;
  opacity: 0;
}

.btn {
  background: var(--brand-primary);
  color: white;
  font-size: 18px;
  border: 0;
  transition: color 0.2s ease, background 0.2s ease;
  height: 50px;
  padding: 3px 15px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.search-box {
  background: #fff;
  border: 1px solid var(--brand-gray);
  height: 50px;
  padding: 3px 15px;
  font-size: 18px;
  color: black;
  outline-color: var(--brand-primary);
}

.form-check input {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  visibility: hidden;
  margin: 0;
}

.form-check {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.form-check .check-control {
  width: 40px;
  height: 20px;
  padding: 1px;
  position: relative;
  box-shadow: inset 0 0 5px var(--brand-gray);
  border-radius: 20px;
  transition: background-color .2s ease, box-shadow .2s ease;
  margin-right: 10px;
}

.form-check .check-control:before {
  content: '';
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  border-radius: 20px;
  left: 0;
  transition: transform .2s ease;
  background: var(--brand-primary);
}

.form-check input:checked + .check-control:before {
  transform: translateX(20px);
  background-color: white;
}

.form-check input:checked + .check-control {
  background-color: var(--brand-primary);
  box-shadow: inset 0 0 5px white;
}

.search-results {
  padding-top: 15px;
}

.card-body {
  padding: 15px;
  border: 1px solid var(--brand-primary);
  margin-bottom: 15px;
}

.card-title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}

.card-text {
  margin-top: 0;
  margin-bottom: 15px;
  font-style: italic;
}

@media (max-width: 769px) {
  .logo {
    padding-right: 15px;
  }
  .logo img {
    width: 50px;
  }

  .logo-text {
    margin: 0;
    font-size: 20px;
  }
}